p{
	color: red;
	text-align: justify; /*alinhamento texto*/
	text-transform: capitalize; /*maiusculo, minusculo*/
	text-indent: 35px; /*espaço início parágrafo*/
	text-decoration: underline; /*sublinhado*/
	letter-spacing: 1.2px; /*separação entre letras*/
	line-height: 1.5; /*separação entre linhas*/
	word-spacing: 5px; /*separação entre palavras*/
	text-shadow: 2px 2px #ddd; /*sombra 3 valores deslocamento direita baixo cor*/
}