body{

}

#principal{
	color: red;
	background-image: url(../Fundo/Fundo.jpg);
	background-repeat: no-repeat;
	background-size: cover; /*cobrir a area*/
	background-attachment: fixed;
	
}

#Titulo{
	color: black;
	background-color: #70e5ae;

}

.texto_verde{
	color: green;
}